body {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    text-decoration-color:white;
}
 h4{
     color:white;
 }
 p{
     color:white;
 }
 label{
     color:white;
 }
h2 {
    font-weight: 700;
    color:white;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1230px;
}

.carousel, .carousel-inner > .item > img {
    height: 500px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.table {
    background-color: #bbbbbb;
    border: solid 1px #23527c;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
